@charset "UTF-8";

@font-face {
    font-family: 'Gabarito';
    src: url('../../fontes/Gabarito.ttf') format('truetype');
}

@font-face {
    font-family: 'Ibarra';
    src: url('../../fontes/IbarraRealNova.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --fundo-principal: #ffffff;
    --fundo-secundario: #d3d3d3;
    --fundo-terciario: #000000;
}

/* Fazer mobile first! */

header {
    /*background-image: url(../imagens/imagem.png);*/
    background: url(../../imagens/imagem.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: -1px 3px 4px rgba(0, 0, 0, 0.527);

    display: inline-block;
    
    height: 220px;
    width: 100vw;
    padding: 60px;
    font-family: 'Gabarito';
    text-align: center;
    color: var(--fundo-principal);
    overflow: hidden;
}

/* Fazer novo menu para tablet e para PC*/

header > h1 {
    font-size: 2.4em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

header > hr {
    width: 80vw;
    background-color: white;
    border-color: transparent;
    border-radius: 2px;
    padding: 0.1px;
    margin: 6px auto;
}

header > nav > ul > a > li {
    padding: 14px;
    text-decoration: none;
}

header > nav > ul > a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin: 13px;
    font-size: 1.06em;
}

header > nav > ul > a > li:hover {
    background-color: #ffffff3b;
    color: rgba(255, 255, 255, 0.863);
    border-radius: 3px;
    transition: 0.3s;
}

#botao {
    display: block;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 20px;
    font-family: 'Gabarito';
    margin: auto;
    text-align: center;
}

#botao:hover {
    background-color: #000000;
    transition: 0.2s;
    color: #ffffff;
}

footer {
    background-color: var(--fundo-terciario);
    height: 60px;
    width: 100vw;
    font-family: 'Gabarito';
    color: white;
    align-content: space-evenly;
    text-align: center;
}

footer > p {
    display: inline-block;
}

div#social {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: -5px;
}

.fa-instagram {
    color: white;
    font-size: 22px;
    margin-right: 4px;
}

.fa-instagram:hover {
    font-size: 23px;
    transition: 0.3s;
    margin-bottom: -2px;
}

.fa-square-facebook:hover {
    font-size: 23px;
    transition: 0.3s;
    margin-bottom: -2px;
}

.fa-square-facebook {
    color: white;
    font-size: 22px;
}
