@charset "UTF-8";

@media screen and (min-width: 768px) { 
    html {
        transition: 0.3s;
    }

    section#avaliacoes {
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    section#avaliacoes > h2 {
        font-family: 'Gabarito';
        font-size: 2em;   
        margin-bottom: 30px;
    }

    article.aval {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    article.aval > h3 {
        font-family: 'Gabarito';
        font-size: 1.5em;  
        font-weight: 550; 
    }

    article.aval > p {
        font-family: 'Ibarra';
        font-size: 1.09em;
        margin: 10px;
        margin-left: revert-layer;
    }

    section#cursos > div.imagens {
        background-image: url(../imagens/sala.jpg);
        background-position: center center;
        background-size: cover;

        margin-top: 30px;
        border: 1px solid black;
        width: 78.2vw;
        height: 60vh;
    }

    section#sobre > div.imagens {
        background-image: url(../imagens/sala2.jpg);
        background-position: center center;
        background-size: cover;

        margin-top: 30px;
        border: 1px solid black;
        width: 78.2vw;
        height: 60vh;
    }

}