@charset "UTF-8";

@media screen and (min-width:1280px) {
    main {
        transition: 0.5s;
    }

    main {
        width: 100vw;
        min-height: 105vh;
        display: grid;
        grid-template-rows: 60px 250px 1fr;
        grid-template-columns: 5fr repeat(4, 4fr) 5fr;
    }
    
    h2 {
        font-family: 'Gabarito';
        font-size: 3em;
        text-align: center;
        padding-bottom: 20px;
    }

    #form > article > h2 {
        font-size: 3em;
        padding-bottom: 0px;
    }

    p {
        font-size: 1.3em;
    }

    #form {
        display: grid;
        grid-row: 3 / 7;
        grid-column: 1 / 7;
        background-color: #F2F6F3;
        padding: 30px 50px 0px 38px;
    }

    picture#fotos {
        width: 28vw;
        height: 53vh;
        margin: 20px auto auto auto;
    }

    #form > article {
        display: grid;
        grid-template-rows: repeat(3, 1fr) 100px;
        grid-template-columns: 1fr;
        align-items: center;
        width: 63vw;
        height: 78vh;
        grid-auto-flow: column;
        padding: 0px 50px 0px 65px;
        margin: auto;
    }

    #texto {
        padding: 20px 50px 25px 38px;
    }

}