@charset "UTF-8";

@font-face {
    font-family: 'Gabarito';
    src: url('../../fontes/Gabarito.ttf') format('truetype');
}

@font-face {
    font-family: 'Ibarra';
    src: url('../../fontes/IbarraRealNova.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --fundo-principal: #ffffff;
    --fundo-secundario: #d3d3d3;
    --fundo-terciario: #000000;
}

/* Fazer mobile first! */

header {
    /*background-image: url(../imagens/imagem.png);*/
    background: url(../../imagens/imagem.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: -1px 3px 4px rgba(0, 0, 0, 0.527);

    display: inline-block;
    
    height: 220px;
    width: 100vw;
    padding: 60px;
    font-family: 'Gabarito';
    text-align: center;
    color: var(--fundo-principal);
    overflow: hidden;
}

/* Fazer novo menu para tablet e para PC*/

header > h1 {
    font-size: 2.4em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

header > hr {
    width: 80vw;
    background-color: white;
    border-color: transparent;
    border-radius: 2px;
    padding: 0.1px;
    margin: 6px auto;
}

header > nav > ul > a > li {
    padding: 14px;
    text-decoration: none;
}

header > nav > ul > a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin: 13px;
    font-size: 1.06em;
}

header > nav > ul > a > li:hover {
    background-color: #ffffff3b;
    color: rgba(255, 255, 255, 0.863);
    border-radius: 3px;
    transition: 0.3s;
}

.titulo > a {
    text-decoration: none;
    color: white;
    overflow: hidden;
    padding: 0px 5px;
}

.titulo > a:hover {
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 5px;    
}

main {
    width: 98vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 30px repeat(2, 4fr) 30px repeat(2, 4fr);
    grid-template-columns: 1fr repeat(4, 4fr) 1fr;
}

#texto {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 7;
    padding: 20px 50px 0px 30px;
    align-items: center;
    margin-top: -20px;
    align-content: space-between;
}

h2 {
    font-family: 'Gabarito';
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 20px;
}

p {
    font-size: 1.2em;
    font-family: 'Ibarra';
    text-align: justify;
    text-indent: 20px;
}

#texto > article > picture#perfil {
    display: flex;
    width: 100px;
    height: 200px;
    background-color: black;
}

#form {
    display: grid;
    grid-row: 3 / 7;
    grid-column: 1 / 7;
    background-color: #F2F6F3;
    padding: 20px 50px 0px 30px;
}

#botao {
    display: flex;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    padding: 12px 5px;
    font-family: 'Gabarito';
    margin: 30px 0px;
    text-align: center;
    width: 83.7vw;
    justify-content: center;
}

#botao:hover {
    background-color: #000000;
    transition: 0.2s;
    color: #ffffff;
}

picture#fotos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 70vw;
    height: 45vh;
    transform: translate(43px, 20px);
}

div#quad1 {
    display: flex;
    background-color: rgba(190, 190, 190, 0.534); 
    grid-row: 1 / 7;
    grid-column: 1 / 6;
    border: 1px solid rgba(0, 0, 0, 0.842);
    align-items: center;
    justify-content: center;
}

div#quad1 > p.img {
    text-indent: 0px;
    font-family: 'Gabarito';
}

footer {
    background-color: var(--fundo-terciario);
    height: 60px;
    width: 100vw;
    font-family: 'Gabarito';
    color: white;
    align-content: space-evenly;
    text-align: center;
}

footer > p {
    display: inline-block;
    font-family: 'Gabarito';
    font-size: 1em;
}

div#social {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: -5px;
}

.fa-instagram {
    color: white;
    font-size: 22px;
    margin-right: 4px;
}

.fa-instagram:hover {
    font-size: 23px;
    transition: 0.3s;
    margin-bottom: -2px;
}

.fa-square-facebook:hover {
    font-size: 23px;
    transition: 0.3s;
    margin-bottom: -2px;
}

.fa-square-facebook {
    color: white;
    font-size: 22px;
}
